@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');/* .. volta um diretório*/
}
@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');/* .. volta um diretório*/
    font-weight: bold;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-BoldIt.otf');/* .. volta um diretório*/
    font-weight: bold;
    font-style: italic;
}